{% extends "HeadPage.html" %}
{% load staticfiles %}
{% block mycode %}
<style>
    .banner{
    width:100%;
    height:500px;
    background: url("{%static 'images/about.png'%}");
    background-size: 100% 100%;
    position: relative;
    float: left;
    }
    .ab{
        width:100%;
    }
    .para{
        font-size:15px;
        font-family:'Vollkorn', serif;
        text-align:left;
        padding-left:50px;
        color:grey;
    }
    .pic{
        width:100%;
    }
    .ps{
        width:100%;
        font-family:'Vollkorn',serif;
        text-align:center;padding-top:10px;
    }
    .txt{
        width:100%;
        color: lightgrey;
        font-family:'Vollkorn',serif;  
    }
    .offer{
        width:100%;
        background: white;
        text-align: center;
        font-family:'Vollkorn',serif;
    }
    .las{
        width:100%;
        font-family:'Vollkorn',serif;
    }
    a{
        color:white;
    }
    </style>
</head>
<body>
        <div class='row'>
                <div class='banner  px-0 mx-0'></div>
            <div class='nav1 col-md-12 text-center m-0 px-0 pt-3'style="font-family:'Vollkorn',serif; width:100%; background: #ccc;"><i class="fas fa-home"></i>Home / About Us</div>
        </div>
        <div class='row'>
            <div class='ab col-md-6 mt-5 text-gray justify-content-end'>
            <p class='para'>Our Team are aimed to provide the customers facility to buy their own household<br/> goods and products online anytime and anywhere.This website can gives the <br/>customers 
                an option of integrating with diverse payment gateways by not<br/> limiting your choices to a selected few.
            </p><br><br>
                <p class='para'style="padding-left:100px;"><i class="fas fa-share-square" style="color:red;"></i>&nbsp;&nbsp;&nbsp;An order management panel simplifies the task of the merchant where one can get detailed information regarding buyer Cancellation /Refunds/
                     COD order Verification/ Exchange/ Order Status/ Update and more.</p>
           <br><br>
            <p class='para' style="padding-left:100px;"><i class="fas fa-bolt" style="color:red;"></i>&nbsp;&nbsp;&nbsp;It also includes the entire online process 
                of developing, marketing, delivering, servicing and paying for products and services.</p>
            </div>
            <div class='pic col-md-6 mt-5 justify-content-center'>
                <img src='{%static "images/13.jpg"%}' alt="">
            </div>
        </div>
        <div class='row'>
            <div class=' ps col-md-12 bg-light'>
                <div class='row'>
                    <div class='col-md-12'>
                    <h1 class='mt-5'>MEET OUR TEAM</h1>
                    </div>
                </div>
                    <div class='row'>
                        <div class='col-md-3 mt-5'>
                            <div>
                                    <img src='{%static "images/t4.png"%}' alt="" style="border:7px solid white; border-radius:50%;box-shadow:0px 0px 10px red;">
                            </div>
                            <h4 class='mt-3'>Smith Allen</h4>
                            <span>Manager</span>
                            <div class='row'>
                                <div class='col-md-6 mx-auto'>
                                    <div class='row'>
                                        <div class='col-md-3 mt-3'>
                                            <div class='btn btn-dark text-white' style="width:35px;height:40px;"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></div> 
                                            </div>
                                            <div class='col-md-3 mt-3'>
                                            <div class='btn btn-dark text-white' style="width:35px;height:40px;"><a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a></div> 
                                            </div>
                                            <div class='col-md-3 mt-3'>
                                            <div class='btn btn-dark text-white' style="width:35px;height:40px;"><a href="https://www.google.com/"><i class="fab fa-google-plus-g"></i></a></div> 
                                            </div>
                                            <div class='col-md-3 mt-3'>
                                            <div class='btn btn-dark text-white' style="width:35px;height:40px;"><a href="https://www.pinterest.com/"><i class="fab fa-pinterest-p"></i></a></div> 
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-3 mt-5'>
                            <img src='{%static "images/t5.png"%}' alt="" style="border:7px solid white; border-radius:50%; box-shadow:0px 0px 10px red;">
                            <h4 class='mt-3'>Laura James</h4>
                            <span>Designer</span>
                            <div class='row'>
                                    <div class='col-md-6 mx-auto'>
                                        <div class='row'>
                                            <div class='col-md-3 mt-3'>
                                                <div class='btn btn-dark text-white' style="width:35px;height:40px;"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></div> 
                                                </div>
                                                <div class='col-md-3 mt-3'>
                                                <div class='btn btn-dark text-white' style="width:35px;height:40px;"><a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a></div> 
                                                </div>
                                                <div class='col-md-3 mt-3'>
                                                <div class='btn btn-dark text-white' style="width:35px;height:40px;"><a href="https://www.google.com/"><i class="fab fa-google-plus-g"></i></a></div> 
                                                </div>
                                                <div class='col-md-3 mt-3'>
                                                <div class='btn btn-dark text-white' style="width:35px;height:40px;"><a href="https://www.pinterest.com/"><i class="fab fa-pinterest-p"></i></a></div> 
                                                </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class='col-md-3 mt-5'>
                            <img src='{%static "images/t6.png"%}' alt="" style="border:7px solid white; border-radius:50%; box-shadow:0px 0px 10px red;">
                            <h4 class='mt-3'>Crisp Doe</h4>
                            <span>Director</span>
                            <div class='row'>
                                    <div class='col-md-6 mx-auto'>
                                        <div class='row'>
                                            <div class='col-md-3 mt-3'>
                                                <div class='btn btn-dark text-white' style="width:35px;height:40px;"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></div> 
                                                </div>
                                                <div class='col-md-3 mt-3'>
                                                <div class='btn btn-dark text-white' style="width:35px;height:40px;"><a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a></div> 
                                                </div>
                                                <div class='col-md-3 mt-3'>
                                                <div class='btn btn-dark text-white' style="width:35px;height:40px;"><a href="https://www.google.com/"><i class="fab fa-google-plus-g"></i></a></div> 
                                                </div>
                                                <div class='col-md-3 mt-3'>
                                                <div class='btn btn-dark text-white' style="width:35px;height:40px;"><a href="https://www.pinterest.com/"><i class="fab fa-pinterest-p"></i></a></div> 
                                                </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class='col-md-3 mt-5'>
                            <img src='{%static "images/t7.png"%}' alt="" style="border:7px solid white; border-radius:50%; box-shadow:0px 0px 10px red;">
                            <h4 class='mt-3'>Linda Rosy</h4>
                            <span>Quality Checker</span>
                            <div class='row'>
                                    <div class='col-md-6 mx-auto'>
                                        <div class='row'>
                                            <div class='col-md-3 mt-3'>
                                                <div class='btn btn-dark text-white' style="width:35px;height:40px;"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></div> 
                                                </div>
                                                <div class='col-md-3 mt-3'>
                                                <div class='btn btn-dark text-white' style="width:35px;height:40px;"><a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a></div> 
                                                </div>
                                                <div class='col-md-3 mt-3'>
                                                <div class='btn btn-dark text-white' style="width:35px;height:40px;"><a href="https://www.google.com/"><i class="fab fa-google-plus-g"></i></a></div> 
                                                </div>
                                                <div class='col-md-3 mt-3'>
                                                <div class='btn btn-dark text-white' style="width:35px;height:40px;"><a href="https://www.pinterest.com/"><i class="fab fa-pinterest-p"></i></a></div> 
                                                </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='txt col-md-12 text-center  mt-5'>
                            <p>Our Team members can check the profile of user and check their orders. Also the admin manage<br/> the product to be delivered on time. It also includes the entire online<br/> process of developing, marketing, delivering, servicing <br/>and paying for products and services</p>
                        </div>
                    </div>
            </div>
        </div>
<!--Deals-->
        <div class='row'>
            <div class='offer col-md-12 mt-5'>
                <h3>Are You Ready For Deals?Flat<span style="color:darkblue;">30% Offer</span> On Mobiles</h3><br>
                <span>We give you exciting offers on all products that you can check on the orders. Also the admin<br/> manage the product to be delivered on time. •	It also includes the entire online<br/> process of developing, marketing, delivering, servicing <br/>and paying for products and services</span>
                     <h5 class='mt-5' style="text-align:center; "> <a href="" style='color:red;'>Shop Now &rarr;</a></h5>
            </div>
        </div>
{% endblock %}