{% extends 'dashboard.html' %}
{% load staticfiles %}
{% block dashcode %}
    <div class='row py-5'>
        <div class='col-md-6 mx-auto' style="font-family:'Vollkorn',serif; background:rgba(255,255,255,0.7)">
            <h2 class='mt-5 text-center'>Change Password</h2>
        {% if status %}
            <p class='alert alert-{{col}}'>{{status}}
                <a href="{% url 'myapp:login' %}">Login Again!!</a> 
            </p>
        {% endif %}
        {% if status1 %}
            <p class='alert alert-{{col}}'>{{status1}}</p>
        {% endif %}
            <form action="" method='POST'>
            {% csrf_token %}
                <div class='form-group mt-5'>
                    <label for="">Current Password</label>
                    <input type="password" class='form-control' name='old' placeholder='Current Password'>
                </div>
                <div class='form-group'>
                    <label for="">New Password</label>
                    <input type="password" class='form-control' id='p' onkeyup='check()' name='new' placeholder='New Password'>
                </div>
                <div class='form-group'>
                    <label for="">Re-enter New Password</label>
                    <input type="password" class='form-control' id='cp' onkeyup='check()' name='rnew' placeholder='Re-enter New Password'>
                </div>
                <div class='form-group'>
                    <input type="submit" class='btn btn-primary btn-block' id='change' value='Change Password' disabled>
                </div>
            </form>
            </div>
    </div>
<script>
    function check(){
    pw=$('#p').val();
    cpw=$('#cp').val();
    if(pw==cpw){
    $("#p").css('border','solid green')
    $("#cp").css('border','solid green')
    $('#change').removeAttr('disabled');
    }
    else{
    $('#p').css('border','1px solid red');
    $('#cp').css('border','1px solid red');
    $('#change').attr('disabled','disabled'); 
    }
    }
</script>
{% endblock %}