{% extends "dashboard.html"%}
{% load staticfiles %}
{% block dashcode%}
<div class='row py-5'>
        <div class='col-md-6 mx-auto' style="font-family:'Vollkorn',serif;  background:rgba(255,255,255,0.7);">
            <h2 class='mt-5 text-center'>Change Profile</h2>
            <form action="" method='post' enctype='multipart/form-data'>
                {%csrf_token%}
                <div class='form-group'>
                    {%if status%}
                    <p class='alert alert-primary'>{{status}}</p>
                    {%endif%}
            <div class='form-group'>
                    <label for="">Username</label>
                    <input type="text" class='form-control' placeholder='UserName' value='{{user.username}}' name='name'>
                    </div>
                <div class='form-group'>
                    <label for="">Email</label>
                    <input type="text" class='form-control' placeholder='{{user.email}}' name='email'>
                </div>
                <div class='form-group'>
                    <label for="">Mobile Number</label>
                    <input type="number" class='form-control' placeholder='{{profile.mobile_no}}' name='contact'>
                </div>
                    <div class='form-group'>
                        <label for="">Address</label>
                        <textarea id="" cols="30" rows="3" class='form-control' placeholder='' name='ad'>{{profile.address}}
                        </textarea>
                    </div>
                    <div class='form-group'>
                        <label for="">Profile Picture</label>
                        <input type="file" class='form-control btn btn-primary' name='image' value='Upload Profile Pic'>
    
                    </div>
                    <div class='form-group'>
                            <input type="submit" class='form-control btn btn-warning'  name='sub' value='Save Changes' style="width:150px;">
    
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}