{% extends "HeadPage.html" %}
{%load staticfiles%}
{%load bootstrap4%}
{%block mycode%}
<style>
.banner{
        width:100%;
        height:500px;
        background: url("{%static 'images/contact.png'%}");
        background-size: 100% 100%;
        
    }
</style>
        <div class='row '>
            <div class='col-md-12 px-0'>
                <div class='banner'></div>
            </div>      
                <div class='nav1 col-md-12 text-center bg-light pt-3'style="font-family:'Vollkorn',serif; width:100%;"><i class="fas fa-home"></i>Home / Mail Us</div>
        </div>
        <div class='row'>
            <div class='col-md-12 text-center bg-white mt-5' style="font-family:'Vollkorn',serif; width:100%;">
            <h1>Contact Us</h1>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-5 bg-light mt-5'>
                <h3 style="font-family:'Vollkorn',serif; color:darkblue; padding-left:50px;">Address</h3>
                <ul class='address' type='none'>
                <span style="font-family:'Vollkorn',serif; color:gray; padding-left:50px;">est eligendi optio cumque nihil impedit quo minus
                    id quod maxime<b style="color:black;">17 Sector,Phase3,Mohali</b></span>
                <li class='mt-3'><span style="font-family:'Vollkorn',serif; color:gray; padding-left:50px;">Free Phone: 9876543210</span></li>
                <li class='mt-3'><span style="font-family:'Vollkorn',serif; color:gray; padding-left:50px;">Telephone: 9824751103</span></li>
                <li class='mt-3'><span style="font-family:'Vollkorn',serif; color:gray; padding-left:50px;">Fax: 9855125346</span></li>
                <li class='mt-3'><span style="font-family:'Vollkorn',serif; color:gray; padding-left:50px;">rajvir123@gmail.com</span></li>
                </ul>
            </div>
            <div class='col-md-7 bg-white mt-5'>
                <form action="">
                    {%csrf_token%}
                   
                    <h3 style="font-family:'Vollkorn',serif; color:darkblue;">Contact Form</h3>
                    <div class='row px-0'>
                        <div class='col-md-4'>
                            <input type="text" class='form-control' placeholder='Your Name' style="border-top:0px; font-family:'Vollkorn',serif;">
                        </div>
                        <div class='col-md-4'>
                                <input type="email" class='form-control' placeholder='Your Email' style="border-top:0px; font-family:'Vollkorn',serif;">
                        </div>
                        <div class='col-md-4'>
                                <input type="number" class='form-control' placeholder='Mobile No.' style="border-top:0px; width:200px; font-family:'Vollkorn',serif;">
                        </div>
                        <div class='col-md-12 mt-3'>
                            <textarea cols="90" rows="10" placeholder='Message' style="border-top:0px; font-family:'Vollkorn',serif;"></textarea>
                        </div>
                        <div class='col-md-12 mt-3' style="padding-left:20px;">
                                <input type="submit" class='btn btn-danger' value="Submit" style="width:200px;">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-12'>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d13721.71069733637!2d76.70479019999999!3d30.7063752!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1553851047860!5m2!1sen!2sin" width="90%" height="450" frameborder="0" style="border:0;" allowfullscreen></iframe>
            </div>
        </div>
{%endblock%}