<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}"/>
    <script src='{% static "jquery-3.3.1.js" %}'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src='{% static "/js/bootstrap.js" %}'></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Crimson+Text|Srisakdi|Vollkorn" rel="stylesheet">
</head>
<style>
    .dropdown-menu .dropdown-item:hover{
     color: lightblue;
     
    }
    .dropdown-container{
        width:800px;
        height:300px;
    }
</style>
<body>
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-md-2 bg-light pt-5 px-0 text-center' style="width:100%;">
                <div class='dropdown-btn'>
                    <button class='btn text-white text-center dropdown-toggle' data-toggle='dropdown' id='dr' style="background: darkblue; width:150px;">My Account</button>
                        <div class='dropdown-menu'>
                            <a href="{% url 'myapp:view_profile' %}" class='dropdown-item'>View Profile</a>
                            <a href="{% url 'myapp:change_profile'%}" class='dropdown-item'>Change Profile</a>
                            <a href="{% url 'myapp:my_orders'%}" class='dropdown-item'>Order History</a>
                            <a href="{%url 'myapp:pending_orders'%}" class='dropdown-item'>Pending Orders</a>
                            <a href="{% url 'myapp:addcart' %}" class='dropdown-item'>My Cart</a>
                            <a href="{%url 'myapp:logout' %}" class='dropdown-item'>Logout</a>
                        </div>
                </div>        
            </div>
            <div class='col-md-6 bg-light pt-5 px-0 mx-auto text-center' style="width:100%; font-family:'Vollkorn', serif;">
                    <h1>Electronic Store</h1>
                    <p style="letter-spacing:5px;">Your Stores,Your Place.</p>
            </div>
            <div class='col-md-2 bg-light pt-5 px-0 text-center' style="width:100%;">
                <button class='btn1 btn-light' style="border:1px solid red;" ><i class="fas 
                    fa-search" style="color:red;"></i></button>
                    <div class='row search' id='search' style="display:none;">
                            <div class='col-md-9 px-0' style="font-family:'Vollkorn', serif;">
                                    <input type="text" placeholder='Search...' class='form-control'>
                            </div>
                            <div class='col-md-3 px-0' style="font-family:'Vollkorn', serif;">
                                    <button class='btn btn-dark text-center text-light'>Send</button>
                            </div>
                    </div>
            </div>
            <div class='col-md-2 bg-light pt-5 px-0 text-center' style="width:100%;">
                <a href="{% url 'myapp:addcart'%}"><button class='btn btn-light' style="background:red;"><i class="fas fa-cart-arrow-down" 
                style="color:white;"></i></button></a>
            </div>
        </div>
        <!--Nav Bar And DropDown-->
        <div class='row'>
                <div class='col-md-12 px-0 mx-0'>
                        <nav class='navbar navbar-expand-sm navbar-dark fixed justify-content-center' style="background: darkblue;
                        font-family:'Vollkorn', serif;">
                            <button type='button' class='navbar-toggler' data-toggle='collapse' data-target='#myid'>
                                    <span class='navbar-toggler-icon'></span>
                            </button>
                            <div id='myid' class='collapse-navbar-collapse'>
                                <ul class='navbar-nav ml-auto'>
                                    <li class='nav-item'><a href="{% url 'myapp:first' %}" class='nav-link'>HOME</a></li>
                                    <li class='nav-item  dropdown'><a href="" class='nav-item nav-link dropdown dropdown-toggle' data-toggle='dropdown'>PRODUCTS
                                        <b class='caret'></b></a>
                                        <div class='dropdown-menu multi-column'>
                                            <div class='container-fluid dropdown-container'>
                                            <div class='row'>
                                                <div class='col-md-3'style="font-family:'Vollkorn', serif;">
                                                    
                                                    <h6>Mobiles</h6>
                                                    <a href="{% url 'myapp:mobile'%}" class='dropdown-item'>Mobile Phones</a>
                                                    <a href="{% url 'myapp:mobile'%}" class='dropdown-item'>MP3 Players</a>
                                                    <a href="{% url 'myapp:mobile'%}" class='dropdown-item'>Popular Modals</a>
                                                    <a href="{% url 'myapp:mobile'%}" class='dropdown-item'>All Tablets</a>
                                                    
                                                </div>
                                                <div class='col-md-3' style="font-family:'Vollkorn', serif;">
                                                    
                                                    <h6>Accessories</h6>
                                                    <a href="{% url 'myapp:mobile'%}" class='dropdown-item'>Laptops</a>
                                                    <a href="{% url 'myapp:mobile'%}" class='dropdown-item'>Desktops</a>
                                                    <a href="{% url 'myapp:mobile'%}" class='dropdown-item'>WareCables</a>
                                                    <a href="{% url 'myapp:mobile'%}" class='dropdown-item'>Summer</a>
                                                    
                                                </div>
                                                <div class='col-md-2' style="font-family:'Vollkorn', serif;">
                                                    
                                                    <h6>Home</h6>
                                                    <a href="{% url 'myapp:mobile'%}" class='dropdown-item'>TV</a>
                                                    <a href="{% url 'myapp:mobile'%}" class='dropdown-item'>Camera</a>
                                                    <a href="{% url 'myapp:mobile'%}" class='dropdown-item'>AC</a>
                                                    <a href="{% url 'myapp:mobile'%}" class='dropdown-item'>Grinder</a>
                                                </div>
                                                <div class=col-md-4>
                                                        <h4>30%<i>Off/-</i></h4>
                                                        <img src='{%static "images/1.jpg"%}' alt="" style="width:100%;height:100%;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </li>   
                                    <li class='nav-item'><a href="{% url 'myapp:about' %}" class='nav-link'>ABOUT US</a></li>
                                    <li class='nav-item dropdown'> 
                                    <a href="" class='nav-link dropdown-toggle' data-toggle='dropdown'>PAGES</a>
                                    <div class='dropdown-menu'>
                                        <a href="" class='dropdown-item'>WEB PAGES</a>
                                        <a href="" class='dropdown-item'>SHORT CODES</a>
                                    </div>
                                </li>
                                    <li class='nav-item'><a href="{% url 'myapp:ContactPage' %}" class='nav-link'>CONTACT US</a></li>
                                </ul>
                            </div>
                        </nav>
                </div>
        </div>
            <div class='row'>
                <div class='col-md-3'>
                <div class='list-group mt-5'>
                     <div class='ab text-center' style='border:1px solid #ccc; border-bottom:0px; height:150px;'>
                            <img src="/media/{{profile.profile_pic}}" class='mt-4' style="height:100px; width:100px; border-radius:50%; position: relative;border:1px solid darkblue;"/>                            
                    </div>
                        <a href="" class='list-group-item dash text-center text-dark'>My Profile</a>
                </div> 
                <div class='list-group mt-5'>
                    <a href="" class='list-group-item dash text-dark'style="font-weight:bold; font-size:25px;" <h3><i class="far fa-address-card"></i>Manage Profile</h3></a>
                    <a href="{% url 'myapp:view_profile' %}" class='list-group-item dash text-center text-dark'>View Profile</a>
                    <a href="{% url 'myapp:change_profile'%}" class='list-group-item dash text-center text-dark'>Change Profile</a>
                    <a href="{% url 'myapp:change_password'%}" class='list-group-item dash text-center text-dark'>Change Password</a>
                </div> 
                <div class='list-group mt-5'>
                    <a href="" class='list-group-item dash  text-dark'style="font-weight:bold; font-size:25px;"<h3><i class="fas fa-cart-arrow-down"></i>My Orders</h3></a>
                    <a href="{% url 'myapp:my_orders'%}" class='list-group-item dash text-center text-dark'>Order History</a>
                    <a href="{% url 'myapp:pending_orders'%}" class='list-group-item dash text-center text-dark'>Pending Orders</a>
                </div> 
                <div class='list-group mt-5'>
                        <a href="{% url 'myapp:logout' %}" class='list-group-item dash text-center text-dark' style="font-weight:bold"<h3><i class="fas fa-sign-out-alt"></i>Logout</h3></a>
                </div> 
                </div>
                <div class='col-md-9'>
                    <div class='row px-0' style="height:200px; width:100%;background-size:100% 100%; background:url('{% static "images/accessories.jpg"%}') ">
                        <div class="col-md-3">
                                <img src="/media/{{profile.profile_pic}}" style="height:200px; width:200px; border-radius:50%; position: relative;border:5px solid white; box-shadow:0px 0px 10px red; top:40px;"/>
                                </div>
                                <div class="col-md-7">
                                <h3 class="text-light p-5 ml-3">{{user.username}}</h3>
                                </div>
                    
                    </div>
                    
                    
                                    {% block dashcode %}   
                                    {% endblock %}  
                      
                    
                </div>
            </div>
        <div class='row'>
            <div class='las col-md-6 bg-primary'>
                <h3 style="color:white; font-size:40px; margin-top:100px; padding-left:80px;">Newsletter</h3>
                <span style="color:white; padding-left:80px;">Excepteur sint occaecat cupidatat non proident, sunt.</span>
            </div>
            <div class='las col-md-6 bg-primary'>
                <div class='row'>
                    <div class='col-md-6' style=" font-size:15px; margin-top:100px; padding-left:80px;">
                        <div class='row search'>
                            <div class='col-md-10 px-0'>
                                <input type="text" placeholder='Email' class='form-control'>
                            </div>
                            <div class='col-md-2 px-0'>
                                <button class='btn btn-danger text-white'>&rarr;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--Footer Page-->
    <div class='row'>
        <div class='col-md-3 bg-white' style="width:100%; height:400px; padding-left:40px; font-family:'Vollkorn',serif; color:darkblue;">
            <h3 class='mt-5'>CONTACT</h3>
            <span style="color:grey">Duis aute irure dolor in reprehenderit in voluptate velit esse.</span>
            <ul class='address p-0'>
                <li type=none style="color:grey;"><span class='btn mt-3' style="border:1px solid black; color:black;"><i class="fas fa-map-marker-alt"></i></span>1234k Avenue, 4th block,New York City</li>
                <li type=none style="color:grey;"><span class='btn mt-3' style="border:1px solid black; color:black;"><i class="fas fa-envelope"></i></span>info@example.com</li>
                <li type=none style="color:grey;"><span class='btn mt-3' style="border:1px solid black; color:black;"><i class="fas fa-phone"></i></span>+1234 567 567</li>
            </ul>
        </div>
        <div class='col-md-3 bg-white' style="width:100%; height:400px; padding-left:40px; font-family:'Vollkorn',serif; color:darkblue;">
            <h3 class='mt-5'>INFORMATION</h3>
            <ul class='links'>
            <li type=none class='mt-3'><a href="" style="color:grey;"><span  style="color:black;">&rarr;</span> About Us</a></li>
            <li type=none class='mt-3'><a href="" style="color:grey;"><span style="color:black;">&rarr;</span> Contact Us </a></li>
            <li type=none class='mt-3'><a href="" style="color:grey;"><span style="color:black;">&rarr;</span> Short Codes</a></li>
            <li type=none class='mt-3'><a href="" style="color:grey;"><span style="color:black;">&rarr;</span> FAQ's</a></li>
            <li type=none class='mt-3'><a href="" style="color:grey;"><span style="color:black;">&rarr;</span> Special Products</a></li>
            </ul>
        </div>
        <div class='col-md-3 bg-white' style="width:100%; height:400px; padding-left:40px; font-family:'Vollkorn',serif; color:darkblue;">
            <h3 class='mt-5'>CATEGORY</h3>
            <ul class='links2'>
                    <li type=none class='mt-3'><a href="" style="color:grey;"><span  style="color:black;">&rarr;</span> Mobiles</a></li>
                    <li type=none class='mt-3'><a href="" style="color:grey;"><span style="color:black;">&rarr;</span> Laptops</a></li>
                    <li type=none class='mt-3'><a href="" style="color:grey;"><span style="color:black;">&rarr;</span> Purifiers</a></li>
                    <li type=none class='mt-3'><a href="" style="color:grey;"><span style="color:black;">&rarr;</span> Wearables</a></li>
                    <li type=none class='mt-3'><a href="" style="color:grey;"><span style="color:black;">&rarr;</span> Kitchen</a></li>
                </ul>
        </div>
        <div class='col-md-3 bg-white mx-auto' style="width:100%; height:400px; padding-left:40px; font-family:'Vollkorn',serif; color:darkblue;">
            <h3 class='mt-5'>PROFILE</h3>
                <ul class='links'>
                    <li type=none class='mt-3'><a href="" style="color:grey;"><span  style="color:black;">&rarr;</span> Home</a></li>
                    <li type=none class='mt-3'><a href="" style="color:grey;"><span style="color:black;">&rarr;</span> Today's Deals</a></li>
                </ul><br>
                <span style="color:darkblue">FOLLOW US</span>
                <div class='row mx-auto'>
                <div class='col-md-3 mt-3'>
                    <div class='btn btn-dark text-white' style="width:35px;height:40px;"><i class="fab fa-facebook-f"></i></div> 
                    </div>
                    <div class='col-md-3 mt-3'>
                    <div class='btn btn-dark text-white' style="width:35px;height:40px;"><i class="fab fa-twitter"></i></div> 
                    </div>
                    <div class='col-md-3 mt-3'>
                    <div class='btn btn-dark text-white' style="width:35px;height:40px;"><i class="fab fa-google-plus-g"></i></div> 
                    </div>
                    <div class='col-md-3 mt-3'>
                    <div class='btn btn-dark text-white' style="width:35px;height:40px;"><i class="fab fa-pinterest-p"></i></div> 
                    </div>
                </div>
        </div>

    </div>
    <!--Footer-->
    <div class='row'>
        <div class='col-md-12 text-center' style="width:100%; height:100px; color:grey; font-family:'Vallkorn',serif; border-top:1px solid lightgrey">
            <span style="margin-top: 50px;">&copy;2019 Electronic Store All Rights Reserved |Design By Rajvir Kaur</span>
        </div>
    </div>
</div>
<script>
$(function(){
                $('.btn1').click(function(){
                $('.search').toggle(100);
                });
            });
</script>
</body>
</html>

