<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <script src='{% static "jquery-3.3.1.js" %}'></script>
    <script src='{% static "/js/bootstrap.js" %}'></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Crimson+Text|Srisakdi|Vollkorn" rel="stylesheet">
</head>
<style>
    /* .banner{
        width:100%;
        height:500px;
        background: url("{%static 'images/banner.png'%}");
        background-size: 100% 100%;
        position: relative;
        float: left;
    } */
    .dropdown-menu .dropdown-item:hover{
     color: lightblue;
     
    }
    .dropdown-container{
        width:800px;
        height:300px;
    }
    .las{
    width:100%;
    font-family:'Vollkorn',serif;
    }
</style>
<body>
   <div class='container-fluid'>
       <div class='row'>
           <div class='col-xl-12' style="font-family:'Vollkorn', serif;">
              <!--Modal Body-->
               <div class='modal fade' id='myM'>
                   <div class='modal-dialog modal-xl'>
                       <div class='modal-content'>
                           <div class='modal-header'>
                               <h3 class='modal-title'>Don't Wait,Login Now!</h3>
                               <span class='py-2 px-4 text-danger close' data-dismiss='modal'>X</span>
                           </div>
                           <div class='modal-body'>
                               <div class='row mx-0'>
                                   <div class='col-xl-8'>
                                        <div class='btn btn-light text-dark' value='Sign Up' style="width:100px;height:40px;"id='register'>SIGN UP</div>
                                        <form action="{% url 'myapp:registerView'%}" method='post' id='form'>
                                                {% csrf_token%}
                                             <div class='row'>
                                                 <div class='col-xl-8 mt-3'>
                                                     <input type="text" class='form-control' placeholder='Name' required='required' name='name'>
                                                 </div>
                                                 <div class='col-xl-8 mt-3'>
                                                     <input type="email" class='form-control' placeholder="Email" name='email'>
                                                 </div>
                                                 <div class='col-xl-8 mt-3'>
                                                     <input type="password" class='form-control' placeholder="Password" name='password'>
                                                 </div>
                                                 <div class='col-xl-8 mt-3'>
                                                     <input type="password" class='form-control' placeholder="Confirm Password" name='confirm_password'>
                                                 </div>
                                                 <div class='col-xl-8 mt-3'>
                                                    <input type="number" class='form-control' placeholder="Mobile Number" name='contact'>
                                                </div>
                                                 <div class='col-xl-8 mt-3'>
                                                        <textarea class='form-control' placeholder="Address" name='ad'></textarea>
                                                    </div>
                                                 <div class='col-xl-8 mt-3'>
                                                 <input type="submit" class='a btn  btn-dark' id='sup' value="CREATE ACCOUNT" style="width:200px; height:40px;">
                                                 </div>
                                          </div>
                                        </form>   
                                    </div>
                                    <div class='col-xl-1'>
                                            <div style="width:1px; height:40%; border-right:1px dashed black;" class="mx-auto"></div>
                                            <div style="width:40px;height:40px; border-radius:50%; border:1px solid black;" class='mx-auto text-center'>OR</div>
                                            <div style="width:1px; height:40%; border-right:1px dashed black" class="mx-auto"></div>
                                        </div>
                                            <div class='col-xl-3'>
                                             <div class='btn btn-danger mt-5'>Sign In With Google</div>
                                             <div class='btn btn-primary mt-3'>Sign In With Facebook</div>
                                            </div>
                                </div>
                            </div>       
                       </div>
                   </div>
               </div>
               
           </div>
       </div>
       <!--Upper Div with Buttons-->
       <div class='row'>
            <div class='col-md-2 bg-light pt-5 text-center' style="width:100%;">
                <button class='btn btn-light' data-toggle='modal' data-target='#myM' style="border:1px solid darkblue;"><i class="fas fa-user" style="color:darkblue;"></i></button>
            </div>
                <div class='col-md-6 bg-light pt-5 px-0 mx-auto text-center' style="width:100%; font-family:'Vollkorn', serif;">
                    <h1>Electronic Store</h1>
                    <p style="letter-spacing:5px;">Your Stores,Your Place.</p>
                </div>
                <div class='col-md-2 bg-light pt-5 px-0 text-center' style="width:100%;">
                        <button class='btn1 btn-light' style="border:1px solid red;" ><i class="fas 
                            fa-search" style="color:red;"></i></button>
                        <div class='row search' id='search' style="display:none;">
                            <div class='col-md-9 px-0' style="font-family:'Vollkorn', serif;">
                                <input type="text" placeholder='Search...' class='form-control'>
                            </div>
                            <div class='col-md-3 px-0' style="font-family:'Vollkorn', serif;">
                                <button class='btn btn-dark text-light'>Send</button>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-2 bg-light pt-5 px-0 text-center' style="width:100%;">
                        <a href="{% url 'myapp:addcart'%}"><button class='btn btn-light' style="background:red;"><i class="fas fa-cart-arrow-down" 
                        style="color:white;"></i></button></a>
                    </div>
        </div>
    <!--Nav Bar And DropDown-->
    <div class='row'>
        <div class='col-md-12 px-0'>
                <nav class='navbar navbar-expand-sm navbar-dark fixed justify-content-center' style="background: darkblue;font-family:'Vollkorn', serif;">
                    <div id='myid' class='collapse-navbar-collapse'>
                        <ul class='navbar-nav ml-auto'>
                            <li class='nav-item'><a href="{% url 'myapp:first' %}" class='nav-link'>HOME</a></li>
                            <li class='nav-item'><a href="{% url 'myapp:login' %}" class='nav-link'>SIGN IN</a></li>
                            <li class='nav-item  dropdown'><a href="" class='nav-item nav-link dropdown dropdown-toggle' data-toggle='dropdown'>PRODUCTS
                                <b class='caret'></b></a>
                                <div class='dropdown-menu multi-column'>
                                    <div class='container-fluid dropdown-container'>
                                    <div class='row'>
                                        <div class='col-md-3'style="font-family:'Vollkorn', serif;">
                                            
                                            <h6>Mobiles</h6>
                                            <a href="{% url 'myapp:mobile'%}" class='dropdown-item'>Mobile Phones</a>
                                            <a href="{% url 'myapp:mobile'%}" class='dropdown-item'>MP3 Players</a>
                                            <a href="{% url 'myapp:mobile'%}" class='dropdown-item'>Popular Modals</a>
                                            <a href="{% url 'myapp:mobile'%}" class='dropdown-item'>All Tablets</a>
                                            
                                        </div>
                                        <div class='col-md-3' style="font-family:'Vollkorn', serif;">
                                            
                                            <h6>Accessories</h6>
                                            <a href="{% url 'myapp:mobile'%}" class='dropdown-item'>Laptops</a>
                                            <a href="{% url 'myapp:mobile'%}" class='dropdown-item'>Desktops</a>
                                            <a href="{% url 'myapp:mobile'%}" class='dropdown-item'>WareCables</a>
                                            <a href="{% url 'myapp:mobile'%}" class='dropdown-item'>Summer</a>
                                            
                                        </div>
                                        <div class='col-md-2' style="font-family:'Vollkorn', serif;">
                                            
                                            <h6>Home</h6>
                                            <a href="{% url 'myapp:mobile'%}" class='dropdown-item'>TV</a>
                                            <a href="{% url 'myapp:mobile'%}" class='dropdown-item'>Camera</a>
                                            <a href="{% url 'myapp:mobile'%}" class='dropdown-item'>AC</a>
                                            <a href="{% url 'myapp:mobile'%}" class='dropdown-item'>Grinder</a>
                                        </div>
                                        <div class=col-md-4>
                                                <h4>30%<i>Off/-</i></h4>
                                                <img src='{%static "images/1.jpg"%}' alt="" style="width:100%;height:100%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                                </li>   
                            <li class='nav-item'><a href="{% url 'myapp:about' %}" class='nav-link'>ABOUT US</a></li>
                            <li class='nav-item dropdown'> 
                            <a href="" class='nav-link dropdown-toggle' data-toggle='dropdown'>PAGES</a>
                            <div class='dropdown-menu'>
                                <a href="" class='dropdown-item'>WEB PAGES</a>
                                <a href="" class='dropdown-item'>SHORT CODES</a>
                            </div>
                        </li>
                            <li class='nav-item'><a href="{% url 'myapp:ContactPage' %}" class='nav-link'>CONTACT US</a></li>
                        </ul>
                    </div>
                </nav>
                <!-- Banner
                <div class='banner'></div> -->
        </div>
    </div> 
 
    {% block mycode%}
    
    {% endblock%}
    <div class='row'>
        <div class='las col-md-6 bg-primary'>
            <h3 style="color:white; font-size:40px; margin-top:100px; padding-left:80px;">Newsletter</h3>
            <span style="color:white; padding-left:80px;">Excepteur sint occaecat cupidatat non proident, sunt.</span>
        </div>
        <div class='las col-md-6 bg-primary'>
            <div class='row'>
                <div class='col-md-6' style=" font-size:15px; margin-top:100px; padding-left:80px;">
                    <div class='row search'>
                        <div class='col-md-10 px-0'>
                            <input type="text" placeholder='Email' class='form-control'>
                        </div>
                        <div class='col-md-2 px-0'>
                            <button class='btn btn-danger text-white'>&rarr;</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <!--Footer Page-->
<div class='row'>
    <div class='col-md-3 bg-white' style="width:100%; height:400px; padding-left:40px; font-family:'Vollkorn',serif; color:darkblue;">
        <h3 class='mt-5'>CONTACT</h3>
        <span style="color:grey">Duis aute irure dolor in reprehenderit in voluptate velit esse.</span>
        <ul class='address p-0'>
            <li type=none style="color:grey;"><span class='btn mt-3' style="border:1px solid black; color:black;"><i class="fas fa-map-marker-alt"></i></span>1234k Avenue, 4th block,New York City</li>
            <li type=none style="color:grey;"><span class='btn mt-3' style="border:1px solid black; color:black;"><i class="fas fa-envelope"></i></span>info@example.com</li>
            <li type=none style="color:grey;"><span class='btn mt-3' style="border:1px solid black; color:black;"><i class="fas fa-phone"></i></span>+1234 567 567</li>
        </ul>
    </div>
    <div class='col-md-3 bg-white' style="width:100%; height:400px; padding-left:40px; font-family:'Vollkorn',serif; color:darkblue;">
        <h3 class='mt-5'>INFORMATION</h3>
        <ul class='links'>
           <li type=none class='mt-3'><a href="" style="color:grey;"><span  style="color:black;">&rarr;</span> About Us</a></li>
           <li type=none class='mt-3'><a href="" style="color:grey;"><span style="color:black;">&rarr;</span> Contact Us </a></li>
           <li type=none class='mt-3'><a href="" style="color:grey;"><span style="color:black;">&rarr;</span> Short Codes</a></li>
           <li type=none class='mt-3'><a href="" style="color:grey;"><span style="color:black;">&rarr;</span> FAQ's</a></li>
           <li type=none class='mt-3'><a href="" style="color:grey;"><span style="color:black;">&rarr;</span> Special Products</a></li>
        </ul>
    </div>
    <div class='col-md-3 bg-white' style="width:100%; height:400px; padding-left:40px; font-family:'Vollkorn',serif; color:darkblue;">
        <h3 class='mt-5'>CATEGORY</h3>
        <ul class='links2'>
                <li type=none class='mt-3'><a href="" style="color:grey;"><span  style="color:black;">&rarr;</span> Mobiles</a></li>
                <li type=none class='mt-3'><a href="" style="color:grey;"><span style="color:black;">&rarr;</span> Laptops</a></li>
                <li type=none class='mt-3'><a href="" style="color:grey;"><span style="color:black;">&rarr;</span> Purifiers</a></li>
                <li type=none class='mt-3'><a href="" style="color:grey;"><span style="color:black;">&rarr;</span> Wearables</a></li>
                <li type=none class='mt-3'><a href="" style="color:grey;"><span style="color:black;">&rarr;</span> Kitchen</a></li>
             </ul>
    </div>
    <div class='col-md-3 bg-white mx-auto' style="width:100%; height:400px; padding-left:40px; font-family:'Vollkorn',serif; color:darkblue;">
        <h3 class='mt-5'>PROFILE</h3>
            <ul class='links'>
                <li type=none class='mt-3'><a href="" style="color:grey;"><span  style="color:black;">&rarr;</span> Home</a></li>
                <li type=none class='mt-3'><a href="" style="color:grey;"><span style="color:black;">&rarr;</span> Today's Deals</a></li>
            </ul><br>
            <span style="color:darkblue">FOLLOW US</span>
            <div class='row mx-auto'>
            <div class='col-md-3 mt-3'>
                <div class='btn btn-dark text-white' style="width:35px;height:40px;"><i class="fab fa-facebook-f"></i></div> 
                </div>
                <div class='col-md-3 mt-3'>
                <div class='btn btn-dark text-white' style="width:35px;height:40px;"><i class="fab fa-twitter"></i></div> 
                </div>
                <div class='col-md-3 mt-3'>
                <div class='btn btn-dark text-white' style="width:35px;height:40px;"><i class="fab fa-google-plus-g"></i></div> 
                </div>
                <div class='col-md-3 mt-3'>
                <div class='btn btn-dark text-white' style="width:35px;height:40px;"><i class="fab fa-pinterest-p"></i></div> 
                </div>
            </div>
    </div>
</div>
<!--Footer-->
    <div class='row'>
        <div class='col-md-12 text-center' style="width:100%; height:100px; color:grey; font-family:'Vallkorn',serif; border-top:1px solid lightgrey">
            <span style="margin-top: 50px;">&copy;2019 Electronic Store All Rights Reserved |Design By Rajvir Kaur</span>
        </div>
    </div>     
</div>
<script>
$(function(){
    $('#sin').hover(function(){
        $(this).css({background:'darkblue'});
    });
    $('#sin').mouseout(function(){
        $(this).css({background:'black'});
    });
  $('#register').click(function(){
    $(this).removeClass('btn-light text-dark').addClass('text-white').css({background:'darkblue'});
    $('#login').addClass('btn-light text-dark').removeClass('text-white').removeAttr('style');                 
  });
  $('#sup').hover(function(){
        $(this).css({background:'darkblue'});
    });
    $('#sup').mouseout(function(){
        $(this).css({background:'black'});
    });
});

$(function(){
        $('.btn1').click(function(){
        $('.search').toggle(100);
        });
    });
</script> 
</body>
</html>