<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register and Login Form</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <script src='{% static "jquery-3.3.1.js" %}'></script>
    <script src='{% static "/js/bootstrap.js" %}'></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Crimson+Text|Srisakdi|Vollkorn" rel="stylesheet">
</head>
<style>
    .banner{
        width:100%;
        height:500px;
        background: url("{%static 'images/banner.png'%}");
        background-size: 100% 100%;
        position: relative;
        float: left;
    }
    .dropdown-menu .dropdown-item:hover{
     color: lightblue;
     
    }
    .dropdown-container{
        width:800px;
        height:300px;
    }
    .a{
        width:100%;
  }
    .b{
        width:100% 
  }
  .video-img{
        width:100%;
        height:500px;

  }
  .c{
        width:100%;
        height:500px;
        background:url("{%static 'images/deposit.jpg'%}");
        background-size: 100% 100%;
        background-repeat: no-repeat;
  }
    .d{
        width:100%;
        height:500px;
        background:url("{%static 'images/ipad.png'%}");
        background-size: 100% 100%;
        background-repeat: no-repeat;  
  }
  .op{
        width:100%;
        height:500px;
        background:rgba(0,0,0,0.7);
        background-size: 100% 100%;
  }
  .pic:hover{
        transform: scale(2);
        transition:3s;
        overflow:hidden;
        
  }
  .box1{
      width:110px;
      height:110px;
      background:darkblue;
      color:white;
      border-radius:50%;
      margin:10px;
      font-size:30px;
      text-align:center;
      line-height:100px;
  }
  .carousel-indicators  li{
        height:15px;
        width:15px;
        border-radius: 50%;
        margin: 5px;
    }
    .las{
    width:100%;
    font-family:'Vollkorn',serif;
    }
</style>
{% block style%}
{% endblock %}
<body>
   <div class='container-fluid'>
       <div class='row'>
           <div class='col-xl-12' style="font-family:'Vollkorn', serif;">
              <!--Modal Body-->
               <div class='modal fade' id='myM'>
                   <div class='modal-dialog modal-xl'>
                       <div class='modal-content'>
                           <div class='modal-header'>
                               <h3 class='modal-title'>Don't Wait,Login Now!</h3>
                               <span class='py-2 px-4 text-danger close' data-dismiss='modal'>X</span>
                           </div>
                           <div class='modal-body'>
                               <div class='row mx-0'>
                                   <div class='col-xl-8'>
                                        <div class='btn btn-light text-dark' value='Sign Up' style="width:100px;height:40px;"id='register'>SIGN UP</div>
                                        <form action="{% url 'myapp:registerView'%}"  method='post' id='form' enctype='multipart/form-data'>
                                                {% csrf_token %}
                                                <small id="msz"></small>
                                             <div class='row'>
                                                 <div class='col-xl-8 mt-3'>
                                                     <input type="text" class='form-control' placeholder='Username' required='required' name='name' onkeyup="checkUser()" id="username">
                                                 </div>
                                                 <div class='col-xl-8 mt-3'>
                                                     <input type="email" class='form-control' placeholder="Email" name='email'>
                                                 </div>
                                                 <div class='col-xl-8 mt-3'>
                                                     <input type="password" class='form-control' placeholder="Password" name='password' id='p' onkeyup='check()'>
                                                 </div>
                                                 <div class='col-xl-8 mt-3'>
                                                     <input type="password" class='form-control' placeholder="Confirm Password" name='confirm_password' id='cp' onkeyup='check()'>
                                                 </div>
                                                 <div class='col-xl-8 mt-3'>
                                                    <input type="number" class='form-control' placeholder="Mobile Number" name='contact'>
                                                </div>
                                                 <div class='col-xl-8 mt-3'>
                                                        <textarea class='form-control' placeholder="Address" name='ad'></textarea>
                                                    </div>
                                                 <div class='col-xl-8 mt-3'>
                                                        <input type="file" class='form-control btn btn-primary' name='image' value='Upload Profile Pic'> 
                                                 </div>   
                                                 <div class='col-xl-8 mt-3'>
                                                    <input type="submit" class='a btn  btn-dark' id='sup' value="CREATE ACCOUNT" disabled style="width:200px; height:40px;">
                                                 </div>
                                                 <div class='col-xl-8 mt-3'>
                                                    <p class='text-center'>Already have account?<a href="{% url 'myapp:login' %}">SignIn</a></p>
                                                 </div>   
                                          </div>
                                        </form>   
                                    </div>
                                    <div class='col-xl-1'>
                                            <div style="width:1px; height:40%; border-right:1px dashed black;" class="mx-auto"></div>
                                            <div style="width:40px;height:40px; border-radius:50%; border:1px solid black;" class='mx-auto text-center'>OR</div>
                                            <div style="width:1px; height:40%; border-right:1px dashed black" class="mx-auto"></div>
                                        </div>
                                            <div class='col-xl-3'>
                                             <div class='btn btn-danger mt-5'><a style="color:white" href="https://www.google.com/">Sign In With Google</a></div>
                                             <div class='btn btn-primary mt-3'><a style="color:white" href="https://www.facebook.com/">Sign In With Facebook</a></div>
                                            </div>
                                </div>
                            </div>       
                       </div>
                   </div>
               </div>
               
           </div>
       </div>
       <!--Upper Div with Buttons-->
       <div class='row'>
            <div class='col-md-2 bg-light pt-5 text-center' style="width:100%;">
                <button class='btn btn-light' data-toggle='modal' data-target='#myM' style="border:1px solid darkblue;"><i class="fas fa-user" style="color:darkblue;"></i></button>
            </div>
                <div class='col-md-6 bg-light pt-5 px-0 mx-auto text-center' style="width:100%; font-family:'Vollkorn', serif;">
                    <h1>Electronic Store</h1>
                    <p style="letter-spacing:5px;">Your Stores,Your Place.</p>
                </div>
                <div class='col-md-2 bg-light pt-5 px-0 text-center' style="width:100%;">
                        <button class='btn1 btn-light' style="border:1px solid red;" ><i class="fas 
                            fa-search" style="color:red;"></i></button>
                        <div class='row search' id='search' style="display:none;">
                            <form action="" method='post'>
                                {% csrf_token%}
                            <div class='col-md-9 px-0' style="font-family:'Vollkorn', serif;">
                                <input type="text" placeholder='Search...' name='content' id='search' class='form-control'>
                            </div>
                            <div class='col-md-3 px-0' style="font-family:'Vollkorn', serif; float:right">
                                <input type='submit' class='btn btn-dark btn-block text-center text-light' value='Send'>
                            </div>
                            </form>
                        </div>
                    </div>
                    <div class='col-md-2 bg-light pt-5 px-0 text-center' style="width:100%;">
                        <a href="{% url 'myapp:addcart'%}"><button class='btn btn-light' style="background:red;"><i class="fas fa-cart-arrow-down" 
                        style="color:white;"></i></button></a>
                    </div>
        </div>
    <!--Nav Bar And DropDown-->
    <div class='row'>
        <div class='col-md-12 px-0'>
            <nav class='navbar navbar-expand-sm navbar-dark fixed justify-content-center' style="background: darkblue; font-family:'Vollkorn', serif;">
                <div id='myid' class='collapse-navbar-collapse'>
                    <ul class='navbar-nav ml-auto'>
                        <li class='nav-item'><a href="{% url 'myapp:first'%}" class='nav-link'>HOME</a></li>
                        <li class='nav-item'><a href="{% url 'myapp:login' %}" class='nav-link'>SIGN IN</a></li>
                        <li class='nav-item  dropdown'><a href="" class='nav-item nav-link dropdown dropdown-toggle' data-toggle='dropdown'>PRODUCTS
                            <b class='caret'></b></a>
                            <div class='dropdown-menu multi-column'>
                                <div class='container-fluid dropdown-container'>
                                <div class='row'>
                                    <div class='col-md-3'style="font-family:'Vollkorn', serif;">
                                        
                                        <h6>Mobiles</h6>
                                        <a href="{% url 'myapp:mobile'%}" class='dropdown-item'>Mobile Phones</a>
                                        <a href="{% url 'myapp:mobile'%}" class='dropdown-item'>MP3 Players</a>
                                        <a href="{% url 'myapp:mobile'%}" class='dropdown-item'>Popular Modals</a>
                                        <a href="{% url 'myapp:mobile'%}" class='dropdown-item'>All Tablets</a>
                                        
                                    </div>
                                    <div class='col-md-3' style="font-family:'Vollkorn', serif;">
                                        
                                        <h6>Accessories</h6>
                                        <a href="{% url 'myapp:mobile'%}" class='dropdown-item'>Laptops</a>
                                        <a href="{% url 'myapp:mobile'%}" class='dropdown-item'>Desktops</a>
                                        <a href="{% url 'myapp:mobile'%}" class='dropdown-item'>WareCables</a>
                                        <a href="{% url 'myapp:mobile'%}" class='dropdown-item'>Summer</a>
                                        
                                    </div>
                                    <div class='col-md-2' style="font-family:'Vollkorn', serif;">
                                        
                                        <h6>Home</h6>
                                        <a href="{% url 'myapp:mobile'%}" class='dropdown-item'>TV</a>
                                        <a href="{% url 'myapp:mobile'%}" class='dropdown-item'>Camera</a>
                                        <a href="{% url 'myapp:mobile'%}" class='dropdown-item'>AC</a>
                                        <a href="{% url 'myapp:mobile'%}" class='dropdown-item'>Grinder</a>
                                    </div>
                                    <div class=col-md-4>
                                            <h4>30%<i>Off/-</i></h4>
                                            <img src='{%static "images/1.jpg"%}' alt="" style="width:100%;height:100%;">
                                    </div>
                                </div>
                            </div>
                        </div>
                            </li>   
                        <li class='nav-item'><a href="{% url 'myapp:about' %}" class='nav-link'>ABOUT US</a></li>
                        <li class='nav-item dropdown'> 
                        <a href="" class='nav-link dropdown-toggle' data-toggle='dropdown'>PAGES</a>
                        <div class='dropdown-menu'>
                            <a href="" class='dropdown-item'>WEB PAGES</a>
                            <a href="" class='dropdown-item'>SHORT CODES</a>
                        </div>
                    </li>
                        <li class='nav-item'><a href="{% url 'myapp:ContactPage' %}" class='nav-link'>CONTACT US</a></li>
                    </ul>
                </div>
            </nav>
            <!--Banner-->
            <div class='banner'></div>
        </div>
    </div> 
    <!--Home Page-->
    <div class='row mx-0'>
        <div class='a col-md-5 bg-white'>
            <div class='video-img mt-5'>
                <iframe src="https://www.youtube.com/embed/ZQa6GUVnbNM" height='100%' width='100%'></iframe>
            </div>
        </div>
        <div class='b col-md-7 pt-5 bg-white' style="font-family:'Vollkorn', serif;">
            <ul class='nav nav-tabs'>
                <li class='nav-item'>
                <a href="#mob" class='nav-link' data-toggle='tab' id='mob1'>MOBILES</a>
                </li>
                <li class='nav-item'>
                <a href="#aud" class='nav-link' data-toggle='tab' id='aud1'>AUDIO</a>
                </li>
                <li class='nav-item'>
                <a href="#com" class='nav-link' data-toggle='tab' id='com1'>COMPUTERS</a>
                </li>
                <li class='nav-item'>
                <a href="#hous" class='nav-link' data-toggle='tab' id='hous1'>HOUSEHOLD</a>
                </li>
                <li class='nav-item'>
                <a href="#kit" class='nav-link' data-toggle='tab' id='kit1'>KITCHEN</a>
                </li>
            </ul>
                    <div class='tab-content'>
                        <div class='tab-pane active' id='mob'>
                            <div class='row mt-5'>
                                <div class='col-md-4 text-center'>
                                    <img src='{%static "images/honor-9n.jpg"%}' height='250px' width='250px' alt="no">
                                    <h4 class='mt-3' style="color:red">Honor-9n</h4>
                                </div>
                                <div class='col-md-4 text-center'>
                                     <img src='{%static "images/sam m30.jpg"%}' height='250px' width='250px' alt="no">
                                     <h4 class='mt-3' style="color:red">Samsung M30</h4>
                                </div>
                                <div class='col-md-4 text-center'>
                                    <img src='{%static "images/xiaomi miA2.jpg"%}' height='250' width='250' alt="no">
                                    <h4 class='mt-3' style="color:red">Xiaomi MiA2</h4>
                                </div>
                            </div>
                        </div>
                            <div class='tab-pane' id='aud'>
                                <div class='row mt-5'>
                                    <div class='col-md-4 text-center'>
                                        <img src="{%static 'images/speakers.jpg'%}" height='250px' width='250px' alt="no">
                                        <h4 class='mt-3' style="color:red">Sony Shakers</h4>
                                    </div>
                                    <div class='col-md-4 text-center'>
                                        <img src='{%static "images/red.jpg"%}' height='250px' width='250px' alt="no">
                                        <h4 class='mt-3' style="color:red">Sony Headset</h4>
                                    </div>    
                                    <div class='col-md-4 text-center'>
                                        <img src='{%static "images/audio.jpg"%}' height='250' width='250' alt="no">
                                        <h4 class='mt-3' style="color:red">Audio Player</h4>
                                    </div>
                                </div>
                            </div>
                            <div class='tab-pane' id='com'>
                                <div class='row mt-5'>
                                    <div class='col-md-4 text-center'>
                                        <img src='{%static "images/dell.jpg"%}' height='250px' width='250px' alt="no">
                                        <h4 class='mt-3' style="color:red">Dell</h4>
                                    </div>
                                    <div class='col-md-4 text-center'>
                                         <img src='{%static "images/hp.jpg"%}' height='250px' width='250px' alt="no">
                                         <h4 class='mt-3' style="color:red">HP Pavillion</h4>
                                    </div>
                                    <div class='col-md-4 text-center'>
                                        <img src='{%static "images/lenovo.jpg"%}' height='250' width='250' alt="no">
                                        <h4 class='mt-3' style="color:red">Lenovo</h4>
                                    </div>
                                </div>
                            </div>
                        <div class='tab-pane' id='hous'>
                            <div class='row mt-5'>
                                <div class='col-md-4 text-center'>
                                    <img src='{%static "images/e.jpg"%}' height='250px' width='250px' alt="no">
                                    <h4 class='mt-3' style="color:red">Refrigerator</h4>
                                </div>
                                <div class='col-md-4 text-center'>
                                     <img src="{% static 'images/2.jpg'%}" height='250px' width='250px' alt="no">
                                     <h4 class='mt-3' style="color:red">LCD</h4>
                                </div>
                                <div class='col-md-4 text-center'>
                                    <img src="{%static 'images/3.jpg' %}" height='250' width='250' alt="no">
                                    <h4 class='mt-3' style="color:red">Washing Machine</h4>
                                </div>
                            </div>
                        </div>
                    <div class='tab-pane' id='kit'>
                        <div class='row mt-5'>
                            <div class='col-md-4 text-center'>
                                <img src="{% static 'images/5.jpg' %}" height='250px' width='250px' alt="no">
                                <h4 class='mt-3' style="color:red">Juice Maker</h4>
                            </div>
                            <div class='col-md-4 text-center'>
                                 <img src="{% static 'images/6.jpg' %}" height='250px' width='250px' alt="no">
                                 <h4 class='mt-3' style="color:red">Water Purifier</h4>
                            </div>
                            <div class='col-md-4 text-center'>
                                <img src=" {% static 'images/7.jpg' %}" height='250' width='250' alt="no">
                                <h4 class='mt-3' style="color:red">Coffee Maker</h4>
                            </div>
                        </div>
                    </div>                </div>
            </div>
        </div>
    </div>
    <div class='row'>
            <div class='c col-md-7 bg-light px-0 mx-0' style="font-family:'Vollkorn', serif;">
                <h5 class='mt-5' style="text-align:right;">Grand Opening Event With Flat</h5><br>
                   <h2 class='mt-5' style="text-align:right; color:red;">20%<span style="color:black;"><i>Discount</i></span></h2>
                   <h5 class='mt-5' style="text-align:right; "> <a href="" style='color:red;'>Shop Now &rarr;</a></h5>
            </div>
            <div class='d col-md-5 bg-secondary px-0'>
                <div class='op'>
                    <div class='circle text-center pt-5' style="font-family:'Vollkorn', serif;">
                        <span class='btn bg-dark text-white mt-5'style="border:1px solid white; width:200px;">Hot Deal</span>
                    </div>
                    <div class='row pt-3 mx-0'>
                        <div class='col-md-3 '>
                            <div class='box1'>10<span style="font-size: 12px;">Days</span></div>
                           
                        </div>
                        <div class='col-md-3'>
                            <div class='box1'>23<span style="font-size: 12px;">Hours</span></div>
                        </div>
                        <div class='col-md-3'>
                            <div class='box1'>48<span style="font-size: 12px;">Mins</span></div>
                        </div>
                        <div class='col-md-3'>
                            <div class='box1' id='box'>00<span style="font-size: 12px;">Sec</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='row'>
                <div class='col-md-12 px-0 mt-5 text-center' style="font-size: 50px; font-family:'Valkorn',serif">Special Deals</div>
        </div>
        <div class='row'>
            <div class='col-md-7  mt-5 px-0' style='width:100%; height:300px;'>
                <div class='row'>
                    <div class='col-md-12' style="overflow:hidden !important;">
                        <div class='col-md-12' style="overflow:hidden !important; height:300px; width:650px; float:right">
                        <img src="{% static 'images/camera.jpg' %}" class="pic" alt="no img" style='height:300px; width:650px; float:right;'>
                    </div>
                    </div>
                </div>
                <div class='row'>
                        <div class='col-md-12 mt-5' style='padding-left: 140px;'>
                                <div class='carousel slide ' data-ride='carousel' id='car' style='height:300px; width:100%; background:darkblue;'>
                                    <ul class='carousel-indicators'>
                                            <li class='active' id='#car'></li>
                                            <li id='#car'></li>
                                            <li id='#car'></li>
                                    </ul>
                                    <div class='carousel-inner text-center'>
                                        <div class='carousel-item active mt-5'>
                                            <div>
                                                <img src='{% static "images/t1.png"%}' alt="" style="text-align:center;" />
                                            </div>
                                            <div class='mt-3' style="text-align:center;font-family:'Valkorn',serif">
                                                <span style='color:white;'>People generally choose this place to buy clothes in a limited budget.Everyone must try!!!</span>
                                                <h4 style="color:white; margin-top:15px; font-family:'Valkorn',serif">Laura</h4>
                                            </div>
                                        </div>
                                            <div class='carousel-item mt-5'>
                                                <div>
                                                    <img src="{%static 'images/t2.png' %}" alt="" style="text-align:center;" />
                                                </div>
                                                <div class='mt-3' style="text-align:center;font-family:'Valkorn',serif">
                                                    <span style='color:white;'>Electronic gadgets & all items are good for quality and price. I recommend to all my friends to visit the site and get quality products.</span>
                                                    <h4 style="color:white; margin-top:15px; font-family:'Valkorn',serif">Michael</h4>
                                                </div>
                                            </div>
                                            <div class='carousel-item mt-5'>
                                                <div>
                                                    <img src="{%static 'images/t3.png' %}" alt="" style="text-align:center;" />
                                                </div>
                                                <div class='mt-3' style="text-align:center;font-family:'Valkorn',serif">
                                                    <span style='color:white;'>I just love the site. All products are very good in quality and also good price. Thanks to make my life easy and styled!!!</span>
                                                    <h4 style="color:white; margin-top:15px; font-family:'Valkorn',serif">Rosy</h4>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                        </div>
                    </div>
            </div>
            <div class='col-md-5 mt-5' style='width:100%;'>
                <img src="{%static 'images/20.jpg' %}" alt="no img" style='height:650px;'>
            </div>
        </div>
        <div class='row'>
                    <div class='col-md-12 px-0 mt-5 pt-3 text-center bg-light' style="font-size: 50px; font-family:'Valkorn',serif">New Products</div>
        </div>
        <div class='row'>
                <div class='col-md-3 px-0 text-center bg-light' style="font-family:'Valkorn',serif;">
                    <img src="{% static 'images/25.jpg' %}" alt="" style="margin-top:30px;">
                    <h4 class='mt-3' style="color:red">Laptops</h4>
                    <span style="text-decoration:line-through;">Rs.40,000/-</span><span>Rs.35,000/-</span><br>
                </div>
                <div class='col-md-3 px-0 text-center bg-light' style="font-family:'Valkorn',serif;">
                        <img src="{% static 'images/31.jpg' %}" alt="" style="margin-top:30px;">
                        <h4 class='mt-3' style="color:red">Mobiles</h4>
                        <span style="text-decoration:line-through;">Rs.14,000/-</span><span>Rs.9,500/-</span><br>
                </div>
                <div class='col-md-3 px-0 text-center bg-light' style="font-family:'Valkorn',serif;">
                        <img src="{% static 'images/34.jpg' %}" alt="" style="margin-top:30px;">
                        <h4 class='mt-3' style="color:red">Kids Toys</h4>
                        <span style="text-decoration:line-through;">Rs.5,000/-</span><span>Rs.2,000/-</span><br>
                </div>
                <div class='col-md-3 px-0 text-center bg-light' style="font-family:'Valkorn',serif;">
                        <img src="{% static 'images/37.jpg' %}" alt="" style="margin-top:30px;">
                        <h4 class='mt-3' style="font-family:'Valkorn',serif; color:red">Induction Stove</h4>
                        <span style="text-decoration:line-through;">Rs.5,000/-</span><span>Rs.3,000/-</span><br>
                </div>
        </div>
        <div class='row'>
            <div class='col-md-12 px-0 pt-3 text-center bg-light' style="font-size: 20px; color:red; font-family:'Valkorn',serif">Hurry up!! SignUP to buy your favourite products</div>
</div>  
        <div class='row'>
            <div class='col-md-12 px-0 mt-5 pt-3 text-center' style="font-size: 50px; font-family:'Valkorn',serif">Top Brands</div>
        </div>
        <marquee > <div class="row">
            <div class="col-md-2 ">
             <img src="{%static 'images/tb1.jpg'%}" style="width:200px; height:200px;">
            </div>
            <div class="col-md-2 ">
             <img src="{%static 'images/tb2.jpg'%}" style="width:200px; height:200px;"> 
            </div>
            <div class="col-md-2 ">
             <img src="{%static 'images/tb3.jpg'%}" style="width:200px; height:200px;"> 
            </div>
            <div class="col-md-2 ">
             <img src="{%static 'images/tb4.jpg'%}" style="width:200px; height:200px;"> 
            </div>
            <div class="col-md-2 ">
              <img src="{%static 'images/tb5.jpg'%}" style="width:200px; height:200px;"> 
            </div>
            <div class="col-md-2 ">
                <img src="{%static 'images/tb1.jpg'%}" style="width:200px; height:200px;">
            </div>
            </div></marquee>
        
        <!-- newsletter           -->
        <div class='row'>
            <div class='las col-md-6 bg-primary'>
                <h3 style="color:white; font-size:40px; margin-top:100px; padding-left:80px;">Newsletter</h3>
                <span style="color:white; padding-left:80px;">Excepteur sint occaecat cupidatat non proident, sunt.</span>
            </div>
            <div class='las col-md-6 bg-primary'>
                <div class='row'>
                    <div class='col-md-6' style=" font-size:15px; margin-top:100px; padding-left:80px;">
                        <div class='row search'>
                            <div class='col-md-10 px-0'>
                                <input type="text" placeholder='Email' class='form-control'>
                            </div>
                            <div class='col-md-2 px-0'>
                                <button class='btn btn-danger text-white'>&rarr;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <!--Footer Page-->
<div class='row'>
        <div class='col-md-3 bg-white' style="width:100%; height:400px; padding-left:40px; font-family:'Vollkorn',serif; color:darkblue;">
            <h3 class='mt-5'>CONTACT</h3>
            <span style="color:grey">Duis aute irure dolor in reprehenderit in voluptate velit esse.</span>
            <ul class='address p-0'>
                <li type=none style="color:grey;"><span class='btn mt-3' style="border:1px solid black; color:black;"><i class="fas fa-map-marker-alt"></i></span>1234k Avenue, 4th block,New York City</li>
                <li type=none style="color:grey;"><span class='btn mt-3' style="border:1px solid black; color:black;"><i class="fas fa-envelope"></i></span>info@example.com</li>
                <li type=none style="color:grey;"><span class='btn mt-3' style="border:1px solid black; color:black;"><i class="fas fa-phone"></i></span>+1234 567 567</li>
            </ul>
        </div>
        <div class='col-md-3 bg-white' style="width:100%; height:400px; padding-left:40px; font-family:'Vollkorn',serif; color:darkblue;">
            <h3 class='mt-5'>INFORMATION</h3>
            <ul class='links'>
               <li type=none class='mt-3'><a href="" style="color:grey;"><span  style="color:black;">&rarr;</span> About Us</a></li>
               <li type=none class='mt-3'><a href="" style="color:grey;"><span style="color:black;">&rarr;</span> Contact Us </a></li>
               <li type=none class='mt-3'><a href="" style="color:grey;"><span style="color:black;">&rarr;</span> Short Codes</a></li>
               <li type=none class='mt-3'><a href="" style="color:grey;"><span style="color:black;">&rarr;</span> FAQ's</a></li>
               <li type=none class='mt-3'><a href="" style="color:grey;"><span style="color:black;">&rarr;</span> Special Products</a></li>
            </ul>
        </div>
        <div class='col-md-3 bg-white' style="width:100%; height:400px; padding-left:40px; font-family:'Vollkorn',serif; color:darkblue;">
            <h3 class='mt-5'>CATEGORY</h3>
            <ul class='links2'>
                    <li type=none class='mt-3'><a href="" style="color:grey;"><span  style="color:black;">&rarr;</span> Mobiles</a></li>
                    <li type=none class='mt-3'><a href="" style="color:grey;"><span style="color:black;">&rarr;</span> Laptops</a></li>
                    <li type=none class='mt-3'><a href="" style="color:grey;"><span style="color:black;">&rarr;</span> Purifiers</a></li>
                    <li type=none class='mt-3'><a href="" style="color:grey;"><span style="color:black;">&rarr;</span> Wearables</a></li>
                    <li type=none class='mt-3'><a href="" style="color:grey;"><span style="color:black;">&rarr;</span> Kitchen</a></li>
                 </ul>
        </div>
        <div class='col-md-3 bg-white mx-auto' style="width:100%; height:400px; padding-left:40px; font-family:'Vollkorn',serif; color:darkblue;">
            <h3 class='mt-5'>PROFILE</h3>
                <ul class='links'>
                    <li type=none class='mt-3'><a href="" style="color:grey;"><span  style="color:black;">&rarr;</span> Home</a></li>
                    <li type=none class='mt-3'><a href="" style="color:grey;"><span style="color:black;">&rarr;</span> Today's Deals</a></li>
                </ul><br>
                <span style="color:darkblue">FOLLOW US</span>
                <div class='row mx-auto'>
                <div class='col-md-3 mt-3'>
                    <div class='btn btn-dark text-white' style="width:35px;height:40px;"><a style="color:white;" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></div> 
                    </div>
                    <div class='col-md-3 mt-3'>
                    <div class='btn btn-dark text-white' style="width:35px;height:40px;"><a style="color:white;" href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a></div> 
                    </div>
                    <div class='col-md-3 mt-3'>
                    <div class='btn btn-dark text-white' style="width:35px;height:40px;"><a style="color:white;" href="https://www.google.com/"><i class="fab fa-google-plus-g"></i></a></div> 
                    </div>
                    <div class='col-md-3 mt-3'>
                    <div class='btn btn-dark text-white' style="width:35px;height:40px;"><a style="color:white;" href="https://www.pinterest.com/"><i class="fab fa-pinterest-p"></i></a></div> 
                    </div>
                </div>
        </div>
    </div>
    <!--Footer-->
        <div class='row'>
            <div class='col-md-12 text-center' style="width:100%; height:100px; color:grey; font-family:'Vallkorn',serif; border-top:1px solid lightgrey">
                <span style="margin-top: 50px;">&copy;2019 Electronic Store All Rights Reserved |Design By Rajvir Kaur</span>
            </div>
        </div>            
                       
</div> 
<!--Script Functions-->
<script>
    function check(){
        pw=$('#p').val();
        cpw=$('#cp').val();
        if(pw==cpw){
            $('#p').css('border','1px solid green')
            $('#cp').css('border','1px solid green')
            $('#sup').removeAttr('disabled')
        }
        else{
            $('#p').css('border','1px solid red')
            $('#cp').css('border','1px solid red')
            $('#sup').attr('disabled','disabled')
        }
    }
    function checkUser(){
        let un=$('#username').val();
        $.ajax({
          url:'{% url "myapp:checkUser" %}',
          type:'get',
          data:{usern:un},
          success:function(data){
              $('#msz').html(data);
          }  
        })
    }
        $(function(){
            $('#sin').hover(function(){
                $(this).css({background:'darkblue'});
            });
            $('#sin').mouseout(function(){
                $(this).css({background:'black'});
            });
        $('#register').click(function(){
            $(this).removeClass('btn-light text-dark').addClass('text-white').css({background:'darkblue'});
            $('#login').addClass('btn-light text-dark').removeClass('text-white').removeAttr('style');
            
        });                  
        });
        $('#sup').hover(function(){
                $(this).css({background:'darkblue'});
            });
            $('#sup').mouseout(function(){
                $(this).css({background:'black'});
            });
              

        $(function(){
                $('.btn1').click(function(){
                $('.search').toggle(100);
                });
            });

            $(function(){
                $('#mob1').click(function(){
                    $(this).addClass('text-white').css({background:'darkblue'});
                    $('#kit1').removeClass('text-white').removeAttr('style');
                    $('#aud1').removeClass('text-white').removeAttr('style');
                    $('#com1').removeClass('text-white').removeAttr('style');
                    $('#hous1').removeClass('text-white').removeAttr('style');
                });
                $('#aud1').click(function(){
                    $(this).addClass('text-white').css({background:'darkblue'});
                    $('#mob1').removeClass('text-white').removeAttr('style');
                    $('#com1').removeClass('text-white').removeAttr('style');
                    $('#hous1').removeClass('text-white').removeAttr('style');
                    $('#kit1').removeClass('text-white').removeAttr('style');
                });
                $('#com1').click(function(){
                    $(this).addClass('text-white').css({background:'darkblue'});
                    $('#aud1').removeClass('text-white').removeAttr('style');
                    $('#aud1').removeClass('text-white').removeAttr('style');
                    $('#hous1').removeClass('text-white').removeAttr('style');
                    $('#kit1').removeClass('text-white').removeAttr('style');
                });
                $('#hous1').click(function(){
                    $(this).addClass('text-white').css({background:'darkblue'});
                    $('#com1').removeClass('text-white').removeAttr('style');
                    $('#mob1').removeClass('text-white').removeAttr('style');
                    $('#aud1').removeClass('text-white').removeAttr('style');
                    $('#kit1').removeClass('text-white').removeAttr('style');
                });
                $('#kit1').click(function(){
                    $(this).addClass('text-white').css({background:'darkblue'});
                    $('#hous1').removeClass('text-white').removeAttr('style');
                    $('#aud1').removeClass('text-white').removeAttr('style');
                    $('#com1').removeClass('text-white').removeAttr('style');
                    $('#mob1').removeClass('text-white').removeAttr('style');
                });
            });
            let c=1;
            function counter(){
                if(c<=60){
                document.getElementById('box').innerHTML=c; 
                c++;
                }
                else{
                    c=1
                }
            }
                setInterval(counter,500)
    </script>
</body>
</html>