{% extends "HeadPage.html" %}
{% load staticfiles %}
{% block mycode %}
<div class='row py-5' style="font-family: 'Vollkorn',serif; background:url('{% static "images/software.jpg"%}');">
    <div class='col-md-6 mx-auto px-0 py-5' style="background:rgba(255,255,255,0.7);">
        <h2 class='text-center'>SIGN IN</h2>
        <form action="" method='post' id='form1'>
            {% csrf_token %}
            <div class='form-group mt-3'>
                <input type="text" class='form-control' placeholder='Username' name='username' required='required'>
            </div>
            <div class='form-group mt-3'>
                <input type="password" class='form-control' placeholder='Password' name='password'>
            </div>    
            <div class='form-group mt-3'>
                <input type="checkbox" id='rememberme' name='rememberme '>keep me logged in
            </div>
            <div class='form-group text-right'>
                    <a href="{% url 'myapp:forgot_password'%}"class='text-dark'>Forget Password?</a>
            </div>        
            <div class='form-group mt-3'>
                <input type="submit" class='a btn  btn-dark' value="SIGN IN" id='sin' name="sin" style="width:100px; height:40px;">
            </div> 
            <p class='text-center'>Don't have an account?<a href="{% url 'index' %}">SignUp</a></p>
        </form>
    </div>    
</div>
{% endblock %}
    