{% extends "dashboard.html" %}
{% load staticfiles %}
{% block dashcode %}
    <div class='row py-5'>
        <div class='col-md-8 mx-auto py-5' style="font-family:'Vollkorn',serif; background:rgba(255,255,255,0.5);">
            <h2 class='text-center mt-5'>Details</h2>
            <table class='table table-striped'>
                <tr>
                    <th>Full Name</th>
                    <td>{{user.username}}</td>
                </tr>
                <tr>
                    <th>User Id</th>
                    <td>{{user.id}}</td>
                </tr>    
                <tr>
                    <th>Email</th>
                    <td>{{user.email}}</td>
                </tr>
                <tr>
                    <th>Mobile No.</th>
                    <td>{{profile.mobile_no}}</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>{{profile.address}}</td>
                </tr>
                <tr>
                    <th>Registered On</th>
                    <td>{{profile.registered_on}}</td>
                </tr>

            </table>
        </div>
    </div>
{% endblock %}