{% extends "dashboard.html"%}
{% load staticfiles%}
{% block dashcode %}
    <div class='container'>
        <div class='row'>
            <div class='col-md-12' style='padding:40px;'>
                <div style='height:400px;width:100%;border:1px solid black;padding:50px;border-radius:5px;'>
                    {% if status %}
                        {{status}}
                        <a href="{% url 'myapp:dashboard'%}">Go Ho Homepage</a>
                    {% else %}
                    <div class='row'>
                        <div class='col-md-4'>
                            <h2 style='color:green;font-size:100px;'><i class="far fa-check-circle"></i></h2>
                        </div>
                        <div class='col-md-8'>
                            <h2 style='margin-top:10%;'>Order Success!!!</h2>
                        </div>
                        <div class='col-md-12'>
                            {% if status%}
                            <p class='alert alert-success'>{{status}}</p>
                            {% endif %}
                            <p class='text-success text-center' style='color:green;font-size:30px;'>
                                Hello {{user.username}} Your order with Txn No: {{txn_id}} received successfully!!!
                            </p>
                            <span class='text-info text-center' style="font-weight:bold;" >Thanks for choosing Electronic Store for shopping!!</span>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}