{%extends "dashboard.html"%}
{% load staticfiles%}
{% block dashcode%}
<div class='row'>
        <div class='col-md-8'>
            <h2 style='margin-top:10%;'>Hello {{user.username}}!!</h2>
        </div>
        <div class='col-md-12 text-center'>
            <p class='text-success text-center' style='color:green;font-size:30px;'>
                 {{user.username}} Welcome to the Electronic Store.<br/>
                Enjoy Unlimited Exciting Offers<br/> on Different Products
            </p>
            <span class='text-info text-center' style="font-weight:bold;" >Thanks for choosing Electronic Store for shopping!!</span>
        </div>
    </div>
{% endblock %}